html, body {
    background-color: #faf6e3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font: 100% Bitter;
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #1D3525;
}

h2 {
    font: 100% Bitter;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #7E4913;
}